/preferencess
.vscode/
.DS_Store
.env
.env.*
.schema.gql
.auth
.build/
node_modules/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.npm
dist
.metals
.idea
venv/
.serverless